# /Monitoring/k8s-local/04-prometheus.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      # eng-study namespace의 백엔드(크로스 namespace 스크랩)
      - job_name: 'eng-study-backend'
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s    # 15초마다 수집
        static_configs:
          - targets: ['eng-study-backend-service.eng-study.svc.cluster.local:8080']
            labels:
              application: 'eng-study'
              environment: 'local'
      
      - job_name: 'study-monitoring-backend'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['monitoring-backend-service:8081']
            labels:
              application: 'monitoring'
              environment: 'local'
      
      - job_name: 'elasticsearch'
        static_configs:
          - targets: ['elasticsearch-service:9114'] # 9114는 health check 포트번호
            labels:
              application: 'elasticsearch'
      
      - job_name: 'postgresql'
        static_configs:
          # [서비스명].[네임스페이스]:[포트]
          - targets: ['postgres-service.eng-study:9187'] # 9187은 health check 포트번호
            labels:
              application: 'postgres'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/usr/share/prometheus/console_libraries'
            - '--web.console.templates=/usr/share/prometheus/consoles'
            - '--web.enable-lifecycle'
          ports:
            - containerPort: 9090
              name: http
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
            - name: prometheus-storage
              mountPath: /prometheus
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
        - name: prometheus-storage
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: monitoring
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      name: http
  type: ClusterIP
