# /Monitoring/k8s-local/04-prometheus.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: eng-study
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    
    scrape_configs:
      - job_name: 'eng-study-backend'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['eng-study-backend-service:8080']
      
      - job_name: 'study-monitoring-backend'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['monitoring-backend-service:8081']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: eng-study
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: eng-study
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
  type: ClusterIP